.header{
    display: flex;
    width: 100%;
    background-color:#68006C;
}

.header_elements{
    display: flex;
}

.header_name{
    color:azure;
    font: small-caps bold 1.2rem sans-serif;
    font-size: 36px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

body{
    background-color:rgb(240, 213, 241);
    margin: 0;
}

.content{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.gallery{
    margin-top: 30px;
}

.img{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
}

footer{
    background-color: #d06ad4;
}
