header{
    width: 100 %;
    height: 150 px; 
    background-color:#68006C;
    margin-bottom: 50 px;
}

#name{
    color:#CF5FD3;
    font: small-caps bold 1.2 rem sans-serif;
    font-size: 36 px;
    margin-top: auto;
}

.main_header{
    width: 100 %;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header ul{
    list-style: none;
    width: 60 %;
    text-align: center;
}

.main_header ul li{
    display: inline-block;
    margin: 10 px 20 px;
}

.main_header ul li a{
    color: azure;
    text-decoration: none;
    font: small-caps bold 1.2 rem sans-serif
}

#kitty_id{ 
    float: left;
    margin: 10 px; 
    width: 100 px; 
    height: 100 px;
}

.content, .table{
    width: 960 px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table caption{
    background-color:#4ab446;
}

.NEchetnaya{
    background-color:#8de66a;
}

#head_table, .chetnaya{
    background-color:#d06ad4;
}
